<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{!-- Header stuff goes here --}}
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
			<div class="flexrow">
				<div class="flexcol flex-center">
					{{#if (ne system.clan undefined)}}
					<div class="resource flexcol flex-center">
						<label for="system.clan" class="resource-label">Clan</label>
						<div class="resource-content flexrow flex-center flex-between">
							<input type="text" class="summary" name="system.clan" value="{{system.clan}}" data-dtype="String"/>
						</div>
					</div>
					{{/if}}
					<div class="resource flexcol flex-center">
						<label for="system.life.value" class="resource-label">Life</label>
						<div class="resource-content flexrow flex-center flex-between">
							<input type="text" class="points" name="system.life.value" value="{{system.life.value}}" data-dtype="Number"/>
							<span class="points"> / </span>
							<input type="text" class="points" name="system.life.max" value="{{system.life.max}}" data-dtype="Number"/>
						</div>
					</div>
					<div class="resource flexcol flex-center">
						<label for="system.magic.value" class="resource-label">Magic</label>
						<div class="resource-content flexrow flex-center flex-between">
							<input type="text" class="points" name="system.magic.value" value="{{system.magic.value}}" data-dtype="Number"/>
							<span class="points"> / </span>
							<input type="text" class="points" name="system.magic.max" value="{{system.magic.max}}" data-dtype="Number"/>
						</div>
					</div>
					<div class="resource flexcol flex-center">
						<label for="system.ac.value" class="resource-label">AC</label>
						<center>
							<input type="text" class="points" name="system.ac.value" value="{{system.ac.value}}" data-dtype="Number"/>
						</center>
					</div>
				</div>
				<div class="flexcol">
					<div><h2>Stats</h2></div>
					<div class="abilities-container flexrow">
						<div class="abilities-column flexcol flex-center">
							<div class="ability flexrow">
								<label for="system.stats.str.value" class="stats">Str</label>
								<input type="text" class="stats" name="system.stats.str.value" value="{{system.stats.str.value}}" data-dtype="Number"/>
								<input type="text" class="stats stats-mod" name="system.stats.str.mod" value="{{system.stats.str.mod}}" data-dtype="String" placeholder="mod"/>
								<a class="item-control rollable-stat" data-statval="{{system.stats.str.value}}" data-modval="{{system.stats.str.mod}}" title="Roll" data-statname="Str"><i class="fas fa-dice-d6"></i></a>
							</div>
							<div class="ability flexrow">
								<label for="system.stats.dex.value" class="stats">Dex</label>
								<input type="text" class="stats" name="system.stats.dex.value" value="{{system.stats.dex.value}}" data-dtype="Number"/>
								<input type="text" class="stats stats-mod" name="system.stats.dex.mod" value="{{system.stats.dex.mod}}" data-dtype="String" placeholder="mod"/>
								<a class="item-control rollable-stat" data-statval="{{system.stats.dex.value}}" data-modval="{{system.stats.dex.mod}}" title="Roll" data-statname="Dex"><i class="fas fa-dice-d6"></i></a>
							</div>
							<div class="ability flexrow">
								<label for="system.stats.agl.value" class="stats">Agl</label>
								<input type="text" class="stats" name="system.stats.agl.value" value="{{system.stats.agl.value}}" data-dtype="Number"/>
								<input type="text" class="stats stats-mod" name="system.stats.agl.mod" value="{{system.stats.agl.mod}}" data-dtype="String" placeholder="mod"/>
								<a class="item-control rollable-stat" data-statval="{{system.stats.agl.value}}" data-modval="{{system.stats.agl.mod}}" title="Roll" data-statname="Agl"><i class="fas fa-dice-d6"></i></a>
							</div>
							<div class="ability flexrow">
								<label for="system.stats.int.value" class="stats">Int</label>
								<input type="text" class="stats" name="system.stats.int.value" value="{{system.stats.int.value}}" data-dtype="Number"/>
								<input type="text" class="stats stats-mod" name="system.stats.int.mod" value="{{system.stats.int.mod}}" data-dtype="String" placeholder="mod"/>
								<a class="item-control rollable-stat" data-statval="{{system.stats.int.value}}" data-modval="{{system.stats.int.mod}}" title="Roll" data-statname="Int"><i class="fas fa-dice-d6"></i></a>
							</div>
						</div>
						<div class="abilities-column flexcol flex-center">
							<div class="ability flexrow">
								<label for="system.stats.wis.value" class="stats">Wis</label>
								<input type="text" class="stats" name="system.stats.wis.value" value="{{system.stats.wis.value}}" data-dtype="Number"/>
								<input type="text" class="stats stats-mod" name="system.stats.wis.mod" value="{{system.stats.wis.mod}}" data-dtype="String" placeholder="mod"/>
								<a class="item-control rollable-stat" data-statval="{{system.stats.wis.value}}" data-modval="{{system.stats.wis.mod}}" title="Roll" data-statname="Wis"><i class="fas fa-dice-d6"></i></a>
							</div>
							<div class="ability flexrow">
								<label for="system.stats.con.value" class="stats">Con</label>
								<input type="text" class="stats" name="system.stats.con.value" value="{{system.stats.con.value}}" data-dtype="Number"/>
								<input type="text" class="stats stats-mod" name="system.stats.con.mod" value="{{system.stats.con.mod}}" data-dtype="String" placeholder="mod"/>
								<a class="item-control rollable-stat" data-statval="{{system.stats.con.value}}" data-modval="{{system.stats.con.mod}}" title="Roll" data-statname="Con"><i class="fas fa-dice-d6"></i></a>
							</div>
							<div class="ability flexrow">
								<label for="system.stats.move.value" class="stats">Move</label>
								<input type="text" class="stats" name="system.stats.move.value" value="{{system.stats.move.value}}" data-dtype="Number"/>
								<input type="text" class="stats stats-mod" name="system.stats.move.mod" value="{{system.stats.move.mod}}" data-dtype="String" placeholder="mod"/>
								<a class="item-control rollable-stat" data-statval="{{system.stats.move.value}}" data-modval="{{system.stats.move.mod}}" title="Roll" data-statname="Move"><i class="fas fa-dice-d6"></i></a>
							</div>
							<div class="ability flexrow">
								<label for="system.stats.ftn.value" class="stats">Ftn</label>
								<input type="text" class="stats" name="system.stats.ftn.value" value="{{system.stats.ftn.value}}" data-dtype="Number"/>
								<input type="text" class="stats stats-mod" name="system.stats.ftn.mod" value="{{system.stats.ftn.mod}}" data-dtype="String" placeholder="mod"/>
								<a class="item-control rollable-stat" data-statval="{{system.stats.ftn.value}}" data-modval="{{system.stats.ftn.mod}}" title="Roll" data-statname="Ftn"><i class="fas fa-dice-d6"></i></a>
							</div>
						</div>
					</div>
					<div></div>
				</div>
			</div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="skills">Skills</a>
		<a class="item" data-tab="inventory">Inventory</a>
		<a class="item" data-tab="combat">Combat</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
		{{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
			{{#if (eq actor.type 'character')}}
			<h2>Epic Poem</h2>
			<div class="bio flexrow">
				<label for="system.epicverses.value" class="bio-label">Epic Verses</label>
				<input type="text" class="points" name="system.epicverses.value" value="{{system.epicverses.value}}" data-dtype="Number"/>
			</div>
			<div class="bio editor-container">
				{{editor system.epicpoem target="system.epicpoem" button=true owner=owner editable=editable}}
			</div>
			{{/if}}
			
			{{#if (ne actor.type 'character')}}
			<h2>Description</h2>
			<div class="bio editor-container">
				{{editor system.description target="system.description" button=true owner=owner editable=editable}}
			</div>
			{{/if}}
			
			<h2>Traits</h2>
			<div class="bio editor-container">
				{{editor system.traits target="system.traits" button=true owner=owner editable=editable}}
			</div>
        </div>

		{{!-- Skillsets Tab --}}
		<div class="tab skills" data-group="primary" data-tab="skills">
			{{!-- Powers --}}
			{{#if system.powers.length}}
			<div class="item flexcol flex-center">
				<div class="item flexrow item-header flex-center flex-between">
					<div class="item-image item-col-1"></div>
					<div class="item-name item-col-4">Power</div>
					<div class="item-controls item-col-2"> </div>
				</div>
				{{#each system.powers as |power id|}}
					<div class="item flexcol" data-item-id="{{power._id}}">
						<div class="flexrow flex-center flex-between">
							<div class="item-image item-col-1"><img src="{{power.img}}" title="{{power.name}}" width="24" height="24"/></div>
							<div class="item-title item-col-4">{{power.name}}</div>
							<div class="flexrow item-controls item-col-2">
								{{#if (nnoe item.system.rollcmd)}}
									<a class="item-control rollable" data-roll="{{power.system.rollcmd}}" title="Roll"><i class="fas fa-dice-d20"></i></a>
								{{else}}
									<span class="item-control rollable rollable-disabled"><i class="fas fa-dice-d20"></i></span>
								{{/if}}
								<a class="item-control item-edit" data-itemid="{{power._id}}" title="Edit"><i class="fas fa-edit"></i></a>
								<a class="item-control item-delete" data-itemid="{{power._id}}" title="Delete"><i class="fas fa-trash"></i></a>
							</div>
						</div>
						<div class="flexrow">
							<span class="item-paragraph">{{{power.system.description}}}</span>
						</div>
					</div>
				{{/each}}
			</div>
			{{/if}}

			{{!-- skillsets --}}
			{{#if system.skillsets.length}}
			{{#each system.skillsets as |skillset id|}}
			<div class="item flexcol flex-center" data-item-id="{{skillset._id}}" >
				<div class="ability flexrow">
					<div class="item-image item-col-2"><img src="{{skillset.img}}" title="{{sa.name}}" width="48" height="48"/></div>
					<div class="item-col-4"><h2>{{skillset.name}}</h2></div>
					<div class="flexrow item-controls item-col-2">
						<a class="item-control item-edit"  data-itemid="{{skillset._id}}" title="Edit"><i class="fas fa-edit"></i></a>
						<a class="item-control item-delete"  data-itemid="{{skillset._id}}" title="Delete"><i class="fas fa-trash"></i></a>
					</div>
				</div>
				<div class="ability flexrow">
					<span>Title: {{skillset.system.title}}</span>
				</div>
				<div class="ability flexrow">
					<span class="item-paragraph">{{{skillset.system.description}}}</span>
				</div>
				<div class="ability flexrow">
					<div class="flexcol">
						<h3>Starting Actions</h3>
						<div class="flexcol items-list">
							{{#if (eq skillset.system.startingactions.length 0)}}
							<h4>None</h4>
							{{/if}}

							{{#each skillset.system.startingactions as |sa id|}}
								<div class="item flexcol" data-item-id="{{sa._id}}">
									<div class="flexrow flex-center flex-between">
										<div class="item-image item-col-1"><img src="{{sa.img}}" title="{{sa.name}}" width="24" height="24"/></div>
										<div class="item-title item-col-4">{{sa.name}}</div>
										<div class="flexrow item-controls item-col-2">
											{{#if (nnoe sa.system.rollcmd)}}
												<a class="item-control rollable" data-roll="{{sa.system.rollcmd}}" title="Roll"><i class="fas fa-dice-d20"></i></a>
											{{else}}
												<span class="item-control rollable rollable-disabled"><i class="fas fa-dice-d20"></i></span>
											{{/if}}
											<a class="item-control item-edit" data-itemid="{{sa._id}}" title="Edit"><i class="fas fa-edit"></i></a>
											<a class="item-control item-delete" data-itemid="{{sa._id}}" title="Delete"><i class="fas fa-trash"></i></a>
										</div>
									</div>
									<div class="flexrow">
										<span class="item-paragraph">{{{sa.system.description}}}</span>
									</div>
								</div>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="ability flexrow">
					<div class="flexcol">
						<h3>Advanced Actions</h3>
						{{#if (eq skillset.system.advancedactions.length 0)}}
						<h4>None</h4>
						{{/if}}
						
						{{#each skillset.system.advancedactions as |aa id|}}
							<div class="item flexcol" data-item-id="{{aa._id}}">
								<div class="flexrow flex-center flex-between">
									<div class="item-image item-col-1"><img src="{{aa.img}}" title="{{aa.name}}" width="24" height="24"/></div>
									<div class="item-title item-col-4">{{aa.name}}</div>
									<div class="flexrow item-controls item-col-2">
										{{#if (nnoe aa.system.rollcmd)}}
											<a class="item-control rollable" data-roll="{{aa.system.rollcmd}}" title="Roll"><i class="fas fa-dice-d20"></i></a>
										{{else}}
											<span class="item-control rollable rollable-disabled"><i class="fas fa-dice-d20"></i></span>
										{{/if}}
										<a class="item-control item-edit" data-itemid="{{aa._id}}" title="Edit"><i class="fas fa-edit"></i></a>
										<a class="item-control item-delete" data-itemid="{{aa._id}}" title="Delete"><i class="fas fa-trash"></i></a>
									</div>
								</div>
								<div class="flexrow">
									<span class="item-paragraph">{{{aa.system.description}}}</span>
								</div>
							</div>
						{{/each}}
					</div>
				</div>
			</div>
            {{/each}}
			{{/if}}
        </div>
		
        {{!-- Inventory Tab --}}
        <div class="tab inventory" data-group="primary" data-tab="inventory">
			{{!-- Weapons --}}
			{{#if system.weapons.length}}
			<div class="item flexcol flex-center">
				<h2>Weapons</h2>
				<div class="item flexrow item-header flex-center flex-between">
					<div class="item-image item-col-1"></div>
					<div class="item-name item-col-3">Name</div>
					<div class="item-name item-col-2">Price</div>
					<div class="item-name item-col-1">Quantity</div>
					<div class="item-controls item-col-2"> </div>
				</div>
				{{#each system.weapons as |item id|}}
				<div class="item flexcol" data-item-id="{{item._id}}">
					<div class="flexrow flex-center flex-between">
						<div class="item-image item-col-1"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
						<div class="item-title item-col-3">{{item.name}}</div>
						<div class="item-name item-col-2">{{item.system.price}}</div>
						<div class="item-name item-col-1">{{item.system.quantity}}</div>
						<div class="flexrow item-controls item-col-2">
							{{#if (nnoe item.system.rollcmd)}}
								<a class="item-control rollable" data-roll="{{item.system.rollcmd}}" title="Roll"><i class="fas fa-dice-d20"></i></a>
							{{else}}
								<span class="item-control rollable rollable-disabled"><i class="fas fa-dice-d20"></i></span>
							{{/if}}
							<a class="item-control item-edit" data-itemid="{{item._id}}" title="Edit"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" data-itemid="{{item._id}}" title="Delete"><i class="fas fa-trash"></i></a>
						</div>
					</div>
					<div class="flexrow">
						<div class="item-image item-col-1"></div>
						<div class="item-name item-col-5">
							<span class="item-paragraph">{{{item.system.description}}}</span>
						</div>
						<div class="item-name item-col-1"></div>
					</div>
				</div>
				{{/each}}
			</div>
			{{/if}}
			
			{{!-- Armor --}}
			{{#if system.armor.length}}
			<div class="item flexcol flex-center">
				<h2>Armor</h2>
				<div class="item flexrow item-header flex-center flex-between">
					<div class="item-image item-col-1"></div>
					<div class="item-name item-col-3">Name</div>
					<div class="item-name item-col-2">Price</div>
					<div class="item-name item-col-1">Quantity</div>
					<div class="item-controls item-col-2"> </div>
				</div>
				{{#each system.armor as |item id|}}
				<div class="item flexcol" data-item-id="{{item._id}}">
					<div class="flexrow flex-center flex-between">
						<div class="item-image item-col-1"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
						<div class="item-title item-col-3">{{item.name}}</div>
						<div class="item-name item-col-2">{{item.system.price}}</div>
						<div class="item-name item-col-1">{{item.system.quantity}}</div>
						<div class="flexrow item-controls item-col-2">
							{{#if (nnoe item.system.rollcmd)}}
								<a class="item-control rollable" data-roll="{{item.system.rollcmd}}" title="Roll"><i class="fas fa-dice-d20"></i></a>
							{{else}}
								<span class="item-control rollable rollable-disabled"><i class="fas fa-dice-d20"></i></span>
							{{/if}}
							<a class="item-control item-edit" data-itemid="{{item._id}}" title="Edit"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" data-itemid="{{item._id}}" title="Delete"><i class="fas fa-trash"></i></a>
						</div>
					</div>
					<div class="flexrow">
						<div class="item-image item-col-1"></div>
						<div class="item-name item-col-5">
							<span class="item-paragraph">{{{item.system.description}}}</span>
						</div>
						<div class="item-name item-col-1"></div>
					</div>
				</div>
				{{/each}}
			</div>
			{{/if}}
			
			{{!-- Equipment --}}
			{{#if system.equipment.length}}
			<div class="item flexcol flex-center">
				<h2>Equipment</h2>
				<div class="item flexrow item-header flex-center flex-between">
					<div class="item-image item-col-1"></div>
					<div class="item-name item-col-3">Name</div>
					<div class="item-name item-col-2">Price</div>
					<div class="item-name item-col-1">Quantity</div>
					<div class="item-controls item-col-2"> </div>
				</div>
				{{#each system.equipment as |item id|}}
				<div class="item flexcol" data-item-id="{{item._id}}">
					<div class="flexrow flex-center flex-between">
						<div class="item-image item-col-1"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
						<div class="item-title item-col-3">{{item.name}}</div>
						<div class="item-name item-col-2">{{item.system.price}}</div>
						<div class="item-name item-col-1">{{item.system.quantity}}</div>
						<div class="flexrow item-controls item-col-2">
							{{#if (nnoe item.system.rollcmd)}}
								<a class="item-control rollable" data-roll="{{item.system.rollcmd}}" title="Roll"><i class="fas fa-dice-d20"></i></a>
							{{else}}
								<span class="item-control rollable rollable-disabled"><i class="fas fa-dice-d20"></i></span>
							{{/if}}
							<a class="item-control item-edit" data-itemid="{{item._id}}" title="Edit"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" data-itemid="{{item._id}}" title="Delete"><i class="fas fa-trash"></i></a>
						</div>
					</div>
					<div class="flexrow">
						<div class="item-image item-col-1"></div>
						<div class="item-name item-col-5">
							<span class="item-paragraph">{{{item.system.description}}}</span>
						</div>
						<div class="item-name item-col-1"></div>
					</div>
				</div>
				{{/each}}
			</div>
			{{/if}}
			
			{{!-- Artifacts --}}
			{{#if system.artifacts.length}}
			<div class="item flexcol flex-center">
				<h2>Artifacts</h2>
				<div class="item flexrow item-header flex-center flex-between">
					<div class="item-image item-col-1"></div>
					<div class="item-name item-col-3">Name</div>
					<div class="item-controls item-col-2"> </div>
				</div>
				{{#each system.artifacts as |item id|}}
				<div class="item flexcol" data-item-id="{{item._id}}">
					<div class="flexrow flex-center flex-between">
						<div class="item-image item-col-1"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
						<div class="item-title item-col-3">{{item.name}}</div>
						<div class="flexrow item-controls item-col-2">
							{{#if (nnoe item.system.rollcmd)}}
								<a class="item-control rollable" data-roll="{{item.system.rollcmd}}" title="Roll"><i class="fas fa-dice-d20"></i></a>
							{{else}}
								<span class="item-control rollable rollable-disabled"><i class="fas fa-dice-d20"></i></span>
							{{/if}}
							<a class="item-control item-edit" data-itemid="{{item._id}}" title="Edit"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" data-itemid="{{item._id}}" title="Delete"><i class="fas fa-trash"></i></a>
						</div>
					</div>
					<div class="flexrow">
						<div class="item-image item-col-1"></div>
						<div class="item-name item-col-5">
							<span class="item-paragraph">{{{item.system.description}}}</span>
						</div>
						<div class="item-name item-col-1"></div>
					</div>
				</div>
				{{/each}}
			</div>
			{{/if}}
			
			{{!-- Misc Items --}}
			<h2>Money</h2>
			<div class="bio editor-container">
				{{editor system.inventory.money target="system.inventory.money" button=true owner=owner editable=editable}}
			</div>
			<h2>Misc. Inventory</h2>
			<div class="bio editor-container">
				{{editor system.inventory.misc target="system.inventory.misc" button=true owner=owner editable=editable}}
			</div>
		</div>
		
		{{!-- Combat Tab --}}
		<div class="tab combat" data-group="primary" data-tab="combat">
			<div class="flexcol">
				<h3>Attack</h3>
				<div class="flexrow">
					<label for="system.attackcmd" class="resource-label">Attack Roll</label>
					<input type="text" class="description" name="system.attackcmd" value="{{system.attackcmd}}" data-dtype="String"/>
					<div class="flexrow item-controls item-col-1">
						<a class="item-control rollable" data-roll="{{system.attackcmd}}" title="Roll"><i class="fas fa-dice-d20"></i></a>
					</div>
				</div>
				<div class="flexrow">
					<label for="system.attack2cmd" class="resource-label">Secondary Attack Roll</label>
					<input type="text" class="description" name="system.attack2cmd" value="{{system.attack2cmd}}" data-dtype="String"/>
					<div class="flexrow item-controls item-col-1">
						<a class="item-control rollable" data-roll="{{system.attack2cmd}}" title="Roll"><i class="fas fa-dice-d20"></i></a>
					</div>
				</div>
				<h3>Defense</h3>
				<div class="flexrow">
					<label for="system.defensecmd" class="resource-label">Defense Roll</label>
					<input type="text" class="description" name="system.defensecmd" value="{{system.defensecmd}}" data-dtype="String"/>
					<div class="flexrow item-controls item-col-1">
						<a class="item-control rollable" data-roll="{{system.defensecmd}}" title="Roll"><i class="fas fa-dice-d20"></i></a>
					</div>
				</div>
				<div class="flexrow">
					<label for="system.piercingcmd" class="resource-label">Piercing Defense Roll</label>
					<input type="text" class="description" name="system.piercingcmd" value="{{system.piercingcmd}}" data-dtype="String"/>
					<div class="flexrow item-controls item-col-1">
						<a class="item-control rollable" data-roll="{{system.piercingcmd}}" title="Roll"><i class="fas fa-dice-d20"></i></a>
					</div>
				</div>
			</div>
		</div>
    </section>
</form>
