<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{!-- Header stuff goes here --}}
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Properties</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
		<div class="tab biography" data-group="primary" data-tab="description">
			
			{{#if (ne system.history undefined)}}
			<div class="item-prop">
				<h3>History</h3>
				<div class="bio editor-container">
					{{editor system.history target="system.history" button=true owner=owner editable=editable}}
				</div>
			</div>
			{{/if}}
			
			{{#if (ne system.blessing undefined)}}
			<div class="item-prop">
				<h3>Blessing</h3>
				<div class="bio editor-container">
					{{editor system.blessing target="system.blessing" button=true owner=owner editable=editable}}
				</div>
			</div>
			{{/if}}
			
			{{#if (ne system.curse undefined)}}
			<div class="item-prop">
				<h3>Curse</h3>
				<div class="bio editor-container">
					{{editor system.curse target="system.curse" button=true owner=owner editable=editable}}
				</div>
			</div>
			{{/if}}
			
			{{#if (ne system.title undefined)}}
			<div class="item-prop">
				<label for="system.title" class="item-prop-label">Title</label>
				<div class="item-prop-content flexrow flex-center flex-between">
					<input class="description" type="text" name="system.title" value="{{system.title}}" data-dtype="String"/>
				</div>
			</div>
			{{/if}}
			
			<div class="flexrow">
				{{#if (ne system.skillsetname undefined)}}
				<div class="item-prop">
					<label for="system.skillsetname" class="item-prop-label">Skillset</label>
					<div class="item-prop-content flexrow flex-center flex-between">
						<input class="description" type="text" name="system.skillsetname" value="{{system.skillsetname}}" data-dtype="String"/>
					</div>
				</div>
				{{/if}}
				{{#if (ne system.startingaction undefined)}}
				<div class="item-prop">
					<label for="system.startingaction" class="item-prop-label">Starting Action</label>
					<div class="item-prop-content flexrow flex-center flex-between">
						<input type="checkbox" name="system.startingaction" data-dtype="Boolean" {{checked system.startingaction}}/>
					</div>
				</div>
				{{/if}}
			</div>
			
			{{#if (ne system.description undefined)}}
			<div class="item-prop">
				<h3>Description</h3>
				<div class="bio editor-container">
					{{editor system.description target="system.description" button=true owner=owner editable=editable}}
				</div>
			</div>
			{{/if}}
			
			{{#if (ne system.rollcmd undefined)}}
			<li class="item flexrow" data-item-id="{{item._id}}">
				<div class="item-prop">
				  <label for="system.rollcmd" class="item-prop-label">Roll</label>
				  <div class="item-prop-content flexrow flex-center flex-between">
					<input class="description" type="text" name="system.rollcmd" value="{{system.rollcmd}}" data-dtype="String"/>
					<div class="flexcol item-controls">
						<a class="item-control rollable" data-roll="{{system.rollcmd}}" title="Roll"><i class="fas fa-dice-d20"></i></a>
					</div>
				  </div>
				</div>
			</li>
			{{/if}}
			
			<div class="flexrow flex-center">
				{{#if (ne system.price undefined)}}
				<div class="item-prop">
					<label for="system.price" class="item-prop-label">Price</label>
					<div class="item-prop-content flexrow flex-center flex-between">
						<input class="description" type="text" name="system.price" value="{{system.price}}" data-dtype="String"/>
					</div>
				</div>
				{{/if}}
				{{#if (ne system.quantity undefined)}}
				<div class="item-prop">
					<label for="system.quantity" class="item-prop-label">Quantity</label>
					<div class="item-prop-content flexrow flex-center flex-between">
						<input class="points" type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="String"/>
					</div>
				</div>
				{{/if}}
			</div>
			
			{{#if (ne system.requirements undefined)}}
			<div class="item-prop">
				<label for="system.requirements" class="item-prop-label">Requirements</label>
				<div class="item-prop-content flexrow flex-center flex-between">
					<input class="description" type="text" name="system.requirements" value="{{system.requirements}}" data-dtype="String"/>
				</div>
			</div>
			{{/if}}
		</div>
    </section>
</form>
