.editor-container {
	border: solid 1px;
}

div.editor {
	min-width: 500px;
	min-height: 200px;
}
div.tox-tinymce {
	min-width: 500px;
	min-height: 200px;
}

label.stats {
	text-align: right;
	min-width: 45px;
	margin: auto;
	padding: 0px 10px 0px 0px;
}

input.stats {
	text-align: center;
	max-width: 45px;
}

input.stats-mod {
	color: darkred;
	font-size: 0.6em;
}

input.summary {
	text-align: center;
	max-width: 125px;
}

input.points {
	max-width: 45px;
    text-align: center;
    margin: 0px 10px 0px 10px;
}

input.description {
	text-align: left;
}

.item-header {
	font-weight: bold;
}

.item-col-1 {
	min-width:50px;
	max-width:50px;
}

.item-col-2 {
	min-width:100px;
	max-width:100px;
}

.item-col-3 {
	min-width:150px;
	max-width:150px;
}

.item-col-4 {
	min-width:200px;
	max-width:200px;
}

.item-col-5 {
	min-width:250px;
	max-width:250px;
}

.item-controls {
	max-width:120px;
}

.item-control {
	margin: 5px;
}

.item-title {
	font-weight: bold;
}

.item {
	margin-bottom: 1em;
}

.item-paragraph {
	text-align: justify;
}

.item-image img {
    border-style: none;
}

span.points {
	max-width: 10px;
}

div.resource {
	padding: 1px 0px;
}

.resource-label {
	text-align: center;
}

.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  justify-content: space-between;
}

.rollable-disabled {
	color: dimgray;
}